.editbutton{
    border-radius: 0px 200px 0px 0px;
    margin: 0;
    height: 30px;
    
}
.deletebutton{
    border-radius: 0px 0px 200px 0px;
    margin: 0;
    height: 30px;
    
}
.buttondiv{
    gap:1px;
}
.checkbox{ 
    background: transparent;
    border-radius: 200px 0px 0px 200px;
    height: 60px;
    width: 20px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}
#flags{
    display: none;
    z-index: 9;
    width: 40px;
}
.redflag{
    height: 20px;
    width: 40px;
    border-radius: 100% 0% 0% 30%;
}
.yellowflag{
    height: 20px;
    width: 40px;
}
.greenflag{
    height: 21px;
    width: 40px;
    border-radius: 30% 0% 0% 100%;

}
@media (max-width: 767.98px) {
    .redflag{
        height: 15px;
    }
    .yellowflag{
        height: 15px;
    }
    .greenflag{
        height: 15px;
    }
    .editbutton{
        height: 23px;
        z-index: 9;
    }
    .deletebutton{
        height: 22px;
        
    }
    .checkbox{
        height: 45px;
    }
}