.editbutton{
    border-radius: 0px 200px 0px 0px;
    margin: 0;
    height: 50%;
    
}
.deletebutton{
    border-radius: 0px 0px 200px 0px;
    margin: 0;
    height: 50%;
    
}
.tododiv{
    border-radius: 50px;
}
.todo{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; 
    white-space: normal;
    
}
.buttondiv{
    height: 100%;
    width: 30%;
    max-width: 70px;
}
.checkboxDiv{
    height: 100%;
    max-width: 10%;
    margin-right: 5px;
}
.checkbox{ 
    background: transparent;
    border-radius: 200px 0px 0px 200px;
    height: 100%;
    width: 100%;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}
#flags{
    display: none;
    height: 100%;
    z-index: 9;
    max-width: 10%;
}
.redflag{
    height: 100%;
    max-width: 100%;
    border-radius: 100% 0% 0% 30%;
}
.yellowflag{
    height: 100%;
    width: 100%;
}
.greenflag{
    height: 100%;
    width: 100%;
    border-radius: 30% 0% 0% 100%;

}
/* @media (max-width: 767.98px) {
    .redflag{
        height: 15px;
    }
    .yellowflag{
        height: 15px;
    }
    .greenflag{
        height: 15px;
    }
    .editbutton{
        height: 23px;
        z-index: 9;
    }
    .deletebutton{
        height: 22px;
        
    }
    
} */